body {
   font-family: 'Lato', sans-serif;
    background-color: lightblue;
}

#headfont{
    font-size: 40;
}
#choicefont{
    font-size: 35;

        
}
#deadfont{
    font-size: 50;
    color: red;
    text-align: center
}

a {
    text-decoration: none;
    color: darkseagreen;
}

img {
    float:none;
    height: 150px;
}
.man {
    float:right;
    height:auto;
}
.imgskele {
  height: 300px;
    margin: auto;
    display: block;

}
