body {
   font-family: 'Lato', sans-serif;
}

#headfont{
    font-size: 40;
}
#choicefont{
    font-size: 35;

        
}
#deadfont{
    font-size: 50;
    color: red;
    text-align: center
}

a {
    text-decoration: none;
    color: darkseagreen;
}
}

